*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: Lato;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lato;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Korataki;
  src: local("Korataki-Regular"), url("../fonts/Korataki-Regular.woff2") format("woff2"), url("../fonts/Korataki-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #231815;
  --color-dark-basket: #000;
  --color-dark-footer: #0C0C0C;
  --color-light: #fff;
  --color-gray: #808080;
  --color-gray-light: #F5F5F5;
  --color-accent: #E45302;
  --border-radius: 20px;
  --font-family-base: Lato, sans-serif;
  --container-width: 1400px;
  --container-padding-x: 44px;
  --section-padding-y: 60px;
  --transition-duration: 0.3s;
}
@media (max-width: 1599.9px) {
  :root {
    --container-width: 1240px;
  }
}
@media (max-width: 767.9px) {
  :root {
    --container-padding-x: 35px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-block: var(--section-padding-y);
}

.main-title {
  padding-bottom: 40px;
  font-family: Korataki;
  font-size: 44px;
}
@media (max-width: 1599.9px) {
  .main-title {
    font-size: 40px;
  }
}
@media (max-width: 1023.9px) {
  .main-title {
    font-size: 32px;
  }
}
@media (max-width: 767.9px) {
  .main-title {
    padding-bottom: 24px;
    font-size: 24px;
  }
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 8px;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 60%;
  height: 2px;
  background-color: var(--color-dark);
  -webkit-box-shadow: 0 -6px, 0 6px;
          box-shadow: 0 -6px, 0 6px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 14px 11px 21px;
  border: 1px solid var(--color-gray-light);
  border-radius: 30px;
}
@media (max-width: 1599.9px) {
  .search {
    padding: 0;
    border: none;
  }
}
.search__input {
  padding: 0;
  border: none;
  line-height: 0;
}
@media (max-width: 1599.9px) {
  .search__input {
    display: none;
  }
}
.search__input::-webkit-input-placeholder {
  font-size: inherit;
}
.search__input::-moz-placeholder {
  font-size: inherit;
}
.search__input:-ms-input-placeholder {
  font-size: inherit;
}
.search__input::-ms-input-placeholder {
  font-size: inherit;
}
.search__input::placeholder {
  font-size: inherit;
}
.search__input:focus-visible {
  border: none;
  outline: none;
}
.search__button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .search__button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .search__button:active {
    color: var(--color-accent);
  }
}
@media (max-width: 1599.9px) {
  .search__button {
    width: 39px;
    border-radius: 50%;
    color: var(--color-light);
    background-color: var(--color-dark-basket);
  }
}
@media (max-width: 1599.9px) and (hover: hover) {
  .search__button:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
@media (max-width: 1599.9px) and (hover: none) {
  .search__button:active {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}

.header {
  font-size: 16px;
}
.header__top {
  padding: 12px 0;
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (max-width: 1023.9px) {
  .header__top {
    display: none;
  }
}
.header__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  margin-left: auto;
}
@media (hover: hover) {
  .header__top-link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__top-link:active {
    opacity: 0.7;
  }
}
.header__top-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
@media (hover: hover) {
  .header__top-button:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header__top-button:active {
    opacity: 0.7;
  }
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__logo {
  margin-right: auto;
}
@media (max-width: 1023.9px) {
  .header__logo {
    width: 141px;
  }
}
.header__menu {
  margin-right: auto;
}
@media (max-width: 1023.9px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  text-transform: uppercase;
}
.header__menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
}
@media (max-width: 1023.9px) {
  .header__search {
    display: none;
  }
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 4px 20px;
  border: none;
  border-radius: 50px;
  color: var(--color-light);
  background-color: var(--color-dark-basket);
}
@media (max-width: 1023.9px) {
  .header__button {
    display: none;
  }
}
@media (hover: hover) {
  .header__button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__button:active {
    background-color: var(--color-accent);
  }
}
.header__button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  aspect-ratio: 1;
  position: relative;
}
.header__button-icon::before {
  width: 18px;
  aspect-ratio: 1;
  content: "3";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 12px;
  color: var(--color-dark-basket);
  background-color: var(--color-light);
}
@media (min-width: 1024px) {
  .header__burger-button {
    display: none;
  }
}

.cross-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 8px;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 60%;
  height: 2px;
  background-color: var(--color-dark);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 12px var(--container-padding-x);
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.mobile-overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.hero__list {
  --gridColumns: 4;
  gap: 50px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
}
@media (max-width: 1023.9px) {
  .hero__list {
    --gridColumns: 2;
  }
}
@media (max-width: 767.9px) {
  .hero__list {
    gap: 30px 10px;
  }
}

.hero-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-size: 16px;
}
@media (max-width: 767.9px) {
  .hero-card {
    row-gap: 10px;
  }
}
@media (hover: hover) {
  .hero-card:hover .hero-card__link {
    opacity: 1;
  }
}
@media (hover: none) {
  .hero-card:active .hero-card__link {
    opacity: 1;
  }
}
.hero-card__image {
  border-radius: 20px;
}
@media (max-width: 767.9px) {
  .hero-card__image {
    border-radius: 10px;
  }
}
.hero-card__special-offer {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 40px;
  border-radius: 30px;
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (max-width: 767.9px) {
  .hero-card__special-offer {
    padding: 2px 14px;
    font-size: 14px;
  }
}
.hero-card__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  color: var(--color-dark);
}
@media (max-width: 767.9px) {
  .hero-card__body {
    row-gap: 10px;
  }
}
.hero-card__title {
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 767.9px) {
  .hero-card__title {
    font-weight: 500;
    font-size: 16px;
  }
}
.hero-card__price {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 767.9px) {
  .hero-card__price {
    font-size: 16px;
  }
}
.hero-card__price--highlighted {
  color: var(--color-accent);
}
.hero-card__price--old {
  color: var(--color-gray);
  text-decoration: line-through;
}
.hero-card__price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media (max-width: 767.9px) {
  .hero-card__price-wrapper {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.hero-card__link {
  position: absolute;
  top: -80px;
  left: 50%;
  translate: -50%;
  width: 80%;
  padding-block: 13px;
  border-radius: 30px;
  text-align: center;
  color: var(--color-light);
  background-color: var(--color-accent);
  opacity: 0;
}

.footer {
  color: var(--color-light);
  background-color: var(--color-dark-footer);
  font-size: 16px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1023.9px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px 123px;
  }
}
@media (max-width: 767.9px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.footer__branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 1023.9px) {
  .footer__branding {
    width: 100%;
    row-gap: 30px;
  }
}
@media (max-width: 767.9px) {
  .footer__branding {
    display: contents;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 45px;
}
@media (max-width: 1023.9px) {
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 130px;
       -moz-column-gap: 130px;
            column-gap: 130px;
    width: 100%;
  }
}
@media (max-width: 767.9px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 38px;
  color: var(--color-gray);
}
@media (max-width: 767.9px) {
  .footer__details {
    row-gap: 70px;
  }
}
.footer__payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
@media (max-width: 1599.9px) {
  .footer__logo-image {
    width: 217px;
  }
}
@media (max-width: 1023.9px) {
  .footer__logo-image {
    width: 180px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
}
.footer__description--gray {
  max-width: 288px;
  color: var(--color-gray);
}
@media (max-width: 1023.9px) {
  .footer__description--gray {
    max-width: 378px;
  }
}
@media (max-width: 767.9px) {
  .footer__description--gray {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
@media (hover: hover) {
  .footer__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__link:active {
    color: var(--color-accent);
  }
}